body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Oxygen', sans-serif;
    background-color: grey;
    background-image: url('https://source.unsplash.com/1600x900/?city');
}

.card {
    background:rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 24px;
    padding: 2em;
    width: 400px;
    margin: 3em;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0.5em;
    border-radius: 10px;
    border: 0;
    width: 2.5em;
    height: 2.6em;
    background-color: rgb(142, 138, 138, 0.4);
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

button:hover {
    background: rgb(137, 137, 137);
}

input.search-bar {
    border: 0;
    outline: none;
    border-radius: 10px;
    height: 2em;
    padding: 0.1em 1em;
    background-color: rgb(142, 138, 138, 0.4);
    color: white;
    font-family: inherit;
    font-size: 100%;
    width: 80%;
}

h1.temp {
    margin: 0;
}

::placeholder {
    color: rgb(172, 164, 164);
}

.description {
    text-transform: capitalize;
}

.icon {
    margin: -15px 0px;
}

.weather.loading{
    visibility: hidden;
    max-height: 5px;
    position: relative;
}
